<script>
  function ChangeCellBackground(value, row, index) {
    var classes = [];
    var percent = 0;
    var backColor = '';
    var value = value.replace(/[^\d]/gi, '');

    if (value == 0) {
      percent = 0;
    } else {
      percent = (value / 100).toFixed(1);
    }

    backColor = GetColorFromPercentage(percent);

    return {
      css: {
        'background-color': backColor
      }
    };
  }

  function GetColorFromPercentage(pctInput) {
    //define colors here: #FFFFFF, #D9B300 (50%), #EB895F (100%)
    var percentColors = [
      { pct: 0.0, color: { r: 243, g: 246, b: 251 } },
      { pct: 0.5, color: { r: 220, g: 113, b: 132 } },
      { pct: 1.0, color: { r: 151, g: 124, b: 193 } }
    ];

    for (var i = 1; i < percentColors.length - 1; i++) {
      if (pctInput < percentColors[i].pct) {
        break;
      }
    }

    var lower = percentColors[i - 1];
    var upper = percentColors[i];
    var range = upper.pct - lower.pct;
    var rangePct = (pctInput - lower.pct) / range;
    var pctLower = 1 - rangePct;
    var pctUpper = rangePct;
    var color = {
      r: Math.floor(lower.color.r * pctLower + upper.color.r * pctUpper),
      g: Math.floor(lower.color.g * pctLower + upper.color.g * pctUpper),
      b: Math.floor(lower.color.b * pctLower + upper.color.b * pctUpper)
    };

    return 'rgba(' + [color.r, color.g, color.b].join(',') + ')';
  }
</script>