{{- $size := int .size | default 32 -}}
{{- $classes := .style_class | default "" -}}
{{- $id := .style_id | default false -}}
{{- $fname := "tft/01.png" -}}
{{- $fname_item1 := "tft/01.png" -}}
{{- $fname_item2 := "tft/01.png" -}}
{{- $item_id := "" -}}
{{- $item1_id := "" -}}
{{- $item2_id := "" -}}


{{ range where site.Data.tft_items "nameShort" "==" .item }}

{{- $item_id = .id -}}
{{ if lt $item_id 10 }}
  {{- $item_id = printf "%02d" (int $item_id) -}}
{{ end }}


{{- $item1_id = .item1_id -}}
{{ with $item1_id }}
{{ if lt $item1_id 10 }}
{{- $item1_id = printf "%02d" (int $item1_id) -}}
{{ end }}
{{ end }}

{{- $item2_id = .item2_id -}}
{{ with $item2_id }}
{{ if lt $item2_id 10 }}
  {{- $item2_id = printf "%02d" (int $item2_id) -}}
{{ end }}
{{ end }}

{{ $fname = print "tft/" $item_id ".png" }}

{{ $fname_item1 = print "tft/" $item1_id ".png" }}
{{ $fname_item2 = print "tft/" $item2_id ".png" }}



<img
  width="{{ $size }}"
  height="{{ $size }}"
  class="m-0 border border-1 img-fluid border-dark {{ $classes }}"
  {{ with $id }}id="{{ . }}"{{ end }}
  data-toggle="tooltip"
  data-html="true"
  data-original-title="<div class='tooltip-title'>{{ .name }}</div>{{ .description }}</br>
  {{ with $item1_id }}<img class='img-responsive' width='24' height='24' src='data:image/png;base64,{{ readFile $fname_item1 | base64Encode }}'>{{ end }}
  {{ with $item2_id }}<img class='img-responsive' width='24' height='24' src='data:image/png;base64,{{ readFile $fname_item2 | base64Encode }}'>{{ end }}
  "
  src="data:image/png;base64,{{ readFile $fname | base64Encode }}"
/>

{{ end }}