{{/* Gallery Shortcode for Wowchemy. */}}
{{/* Load gallery images from page dir. */}}
{{/* Get album folder or default to `gallery/`. */}}
{{ $album := (.Get "album") | default "gallery" }}
{{/* Set image path and page bundle that images are associated with. */}}
{{ $album_path := "" }}
{{ $resource_page := "" }}
{{ if eq .Page.Parent.Type "widget_page" }}
{{ $album_path = printf "%s/%s/*" (path.Base (path.Split .Page.Path).Dir) $album }}
{{ $resource_page = $.Page.Parent }}
{{ else }}
{{ $album_path = printf "%s/*" $album }}
{{ $resource_page = $.Page }}
{{ end }}
<!-- <div class="row row-cols-1 row-cols-md-2 g-4"> -->
<div class="list-group">
    {{/* Attempt to automatically load gallery images from page bundle */}}
    {{ $images := ($resource_page.Resources.ByType "image").Match $album_path }}
    {{ range $images }}
    {{ $image := .Resize "x190" }}
    {{/* Check if the user set a caption for this image */}}
    {{ $filename := path.Base .Name }}
    {{ $caption := "" }}
    {{ if $.Page.Params.gallery_item }}
    {{ range (where (where $.Page.Params.gallery_item "album" $album) "image" $filename) }}
    {{ $caption = .caption }}
    {{ end }}
    {{ end }}
    <!-- <li class="list-group-item d-flex justify-content-between align-items-center"> Don Quixote <div class="image-parent"> -->
    <div class="card">
        <div class="row g-0">
            <div class="col-5 col-sm-4">
                <img src="{{ $image.RelPermalink }}" class="img-fluid w-100 m-3" alt="card-horizontal-image">
            </div>
            <div class="col-7 col-sm-8">
                <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <!-- </div> -->
</div>